.vscode/
build/
dir_bcfiles/old/*
dir_bcfiles/new/*
software/*
dem_name
ex.func
target.conf
*.o
*.out
*.tmp
*.csv
*.output
*.func
sliced.*
dir_bcfiles/mysqld.bc
dir_bcfiles/*.ll
dir_bcfiles/postfix/*.ll
dir_bcfiles/postfix/
